.main {
  display: flex;
  width: 80%;
  height: 2.7vw;
  background: rgb(221,196,16);
  background: linear-gradient(90deg, rgba(221,196,16,1) 0%, rgba(226,176,0,1) 56%, rgba(238,141,0,1) 100%);
  margin-right: auto;
  margin-left: auto;
  margin-top: 1vh;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  color: white;
  padding-left: 1vw;
  gap: 0.5vw;
}
.main:hover {
  background: rgb(221,196,16);
  background: linear-gradient(90deg, rgba(221,196,16,1) 0%, rgba(226,176,0,1) 56%, rgba(238,141,0,1) 100%);
}